# **Project Name**    -  AIR BNB BOOKING ANALYSIS

##### **Project Type**    - EDA
##### **Contribution**    - Individual-Mainak Mazumder

# **Project Summary -**

Airbnb(AirBedandBreakfast.com) is an American San Francisco-based company operating an online marketplace for short-term homestays and experiences. The company acts as a broker and charges a commission from each booking.

Since its founding in 2008, Airbnb has become one of the most successful and valuable start-ups in the world, and has had a significant impact on the industry of renting homes and the hospitality industry more generally.

Data analysis on millions of listings provided through Airbnb is a crucial factor for the company. These millions of listings generate a lot of data that can be analyzed and used for security, business decisions, understanding of customers' and providers' (hosts) behavior and performance on the platform, guiding marketing initiatives, implementation of innovative additional services and much more.

The EDA of Airbnb booking analysis will provide valuable insights into the patterns and relationships in the booking data and inform the development of predictive models that can be used to optimize the platform. The EDA will play a crucial role in ensuring the success of the overall Airbnb booking analysis project by providing a foundation for further analysis and optimization. The insights and recommendations generated by the EDA will help to drive growth and success for the Airbnb platform and ensure its continued evolution and adaptation to changing customer needs and preferences.

# **GitHub Link -**

https://github.com/Mainak-Mazumder/Eda_Capstone_Airbnb_Analysis-.git

# **Problem Statement**

AirBnb nyc_2019 data set has approximate 49000 observation and 16 variable which is a mix of categorical and numeric values.So we have to check all that data and give best output from that data to explore and understand the patterns and trends in the Airbnb booking data and to identify any underlying relationships between variables that may impact customer booking decisions."

#### **Define Your Business Objective?**

 The goal of Airbnb data analysis is to improve the overall performance and profitability of the company.The objective of Airbnb data analysis is to gain insights into the company's operations and market trends, to optimize pricing and revenue, to identify areas for improvement, to make informed decisions to improve customer experience and satisfaction, and to gain a competitive advantage in the market.
 By analyzing this business problem, Airbnb can increase the number of bookings and repeated customers, which can ultimately lead to increased revenue and profitability. The goal of Airbnb data analysis is to improve the overall performance and profitability of the company.

# **General Guidelines** : -

1.   Well-structured, formatted, and commented code is required. 
2.   Exception Handling, Production Grade Code & Deployment Ready Code will be a plus. Those students will be awarded some additional credits. 
     
     The additional credits will have advantages over other students during Star Student selection.
       
             [ Note: - Deployment Ready Code is defined as, the whole .ipynb notebook should be executable in one go
                       without a single error logged. ]

3.   Each and every logic should have proper comments.
4. You may add as many number of charts you want. Make Sure for each and every chart the following format should be answered.
        

```
# Chart visualization code
```
            

*   Why did you pick the specific chart?
*   What is/are the insight(s) found from the chart?
* Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.

5. You have to create at least 20 logical & meaningful charts having important insights.


[ Hints : - Do the Vizualization in  a structured way while following "UBM" Rule. 

U - Univariate Analysis,

B - Bivariate Analysis (Numerical - Categorical, Numerical - Numerical, Categorical - Categorical)

M - Multivariate Analysis
 ]

# ***Let's Begin !***

## ***1. Know Your Data***

### Import Libraries

In [ ]:
# Import Libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

### Dataset Loading

In [ ]:
# Load Dataset
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
air_bnb_nyc_file_path = "/content/drive/My Drive/EDA CAPSTONE/Airbnb NYC 2019.csv"
air_bnb_nyc_data= pd.read_csv(air_bnb_nyc_file_path)

### Dataset First View

In [ ]:
# Dataset First Look
air_bnb_nyc_data.head(10)

In [ ]:
air_bnb_nyc_data.tail(10)

### Dataset Rows & Columns count

In [ ]:
# Dataset Rows & Columns count
air_bnb_nyc_data.shape

### Dataset Information

In [ ]:
# Dataset Info
air_bnb_nyc_data.info()

#### Duplicate Values

In [ ]:
# Dataset Duplicate Value Count
len(air_bnb_nyc_data[air_bnb_nyc_data.duplicated()])

#### Missing Values/Null Values

In [ ]:
# Missing Values/Null Values Count
air_bnb_nyc_data.isnull().sum()

In [ ]:
# Visualizing the missing values
air_bnb_nyc_data.isnull()

In [ ]:
#Visualization of the null values
sns.heatmap(air_bnb_nyc_data.isnull(), cbar=True,cmap='flare')
plt.figure(figsize=(15,10))

### What did you know about your dataset?


The Dataset contains of every Airbnb listing based on their location in NYC, including their price range, room type, listing name, host name and other related factors.We found the following observations:

a)The Dataset contains 48895 rows and 16 columns.

b)There is no Duplicate Value in Dataset

c)There is some missing/null values in Dataset-In name column 16 null values, host_name 21 null values, last_review 10052 and also in reviews_per_month 10052 null values. Null values are visualized by heatmap visualization all white line representing null value in DataFrame.

## ***2. Understanding Your Variables***

In [ ]:
# Dataset Columns
air_bnb_nyc_data.columns

In [ ]:
# Dataset Describe
air_bnb_nyc_data.describe(include='all')

### Variables Description

We have the following variables in the dataset.

![image.png]()

From the above dataset 'name','host_name', 'neighbourhood_group',
       'neighbourhood','room_type' are the categorical variables numeric variable and the rest are the numeric variable.

### Check Unique Values for each variable.

In [ ]:
# Check Unique Values for each variable.
#Defining a function to get the unique value count of each variable 
def airbnbanalysis():
  Unique_Values=pd.DataFrame(index=air_bnb_nyc_data.columns)
  Unique_Values['Unique_Values'] = air_bnb_nyc_data.nunique()
  return Unique_Values
airbnbanalysis()

## 3. ***Data Wrangling***

### Data Wrangling Code

In [ ]:
# Write your code to make your dataset analysis ready.
#Dropping the id column as all values are unique and last_review column as not rquired for our analysis. 
del air_bnb_nyc_data["id"]
del air_bnb_nyc_data["last_review"]

In [ ]:
#Replacing null values of reviews_per_month column with 0.
air_bnb_nyc_data["reviews_per_month"].fillna(0, inplace = True)

#Replacing null values of name column with Others.
air_bnb_nyc_data["name"].fillna("Others", inplace = True)

#Replacing null values of host_name column with Anynomous.
air_bnb_nyc_data["host_name"].fillna("Anynomous", inplace = True)

In [ ]:
#Dataframe after above operation.
air_bnb_nyc_data

In [ ]:
#Using describe() function for checking
air_bnb_nyc_data.describe(include='all')

We found the price column have minimum value as 0 which is not possible. We will do further analysis over price column.

In [ ]:
#Unique values of "neighbourhood_group"
air_bnb_nyc_data["neighbourhood_group"].unique()

In [ ]:
#Unique values of "room_type"
air_bnb_nyc_data["room_type"].unique()

In [ ]:
#Descriptive deatils of price column
air_bnb_nyc_data["price"].describe(include='all')

In [ ]:
# Rows having 0 valued Price.
air_bnb_nyc_data[air_bnb_nyc_data['price']==0]

In [ ]:
#Replacing null values of price with 0 valued with mean price value.
air_bnb_nyc_data['price'].replace(to_replace = 0, value = air_bnb_nyc_data['price'].mean(), inplace=True)

In [ ]:
air_bnb_nyc_data["price"].describe(include='all')

In [ ]:
#Checking of the 0 valued price.
air_bnb_nyc_data[air_bnb_nyc_data['price']==0]

In [ ]:
# Declaring df as the datframe name for easy manipulation.
df=air_bnb_nyc_data
df

In [ ]:
# Checking for null values after data wrangling.
df.isnull().sum()

There are no null values found after data wranling.

In [ ]:
#Final shape of the dataframe.
df.shape

### What all manipulations have you done and insights you found?

For the data manipulation we have done the following operations:

1) The "id" and the "last_review" column  have been dropped for the analysis purpose as the "id" is unique for all and the "last_review" found not necessary.

2) For the null value operation:

      a) Null values in "reviews_per_month" is replaced by the "0" value.
      
      b) Null values in "name" is replaced by the "others".

      c) Null values in "host_name" is replaced by the "Anynomos".

3)3 unique values have been found in the "room_type" and 5 unique values in the "neighbourhood_group".

4) In the price column operation it is found that there are 11 listings which have price value 0. But it is not possible. for that purpose wehave replaced the "0" value with the mean value of the price column.

5) After all the manipulation we found our dataset having shape of (48895,14).

## ***4. Data Vizualization, Storytelling & Experimenting with charts : Understand the relationships between variables***

#### Chart - 1
#   **Airbnb listing in different neighbourhood groups over NYC**

In [ ]:
# Chart - 1 visualization code
neighbourhood_group_data=df['neighbourhood_group'].value_counts()
neighbourhood_group_data

In [ ]:
neighbourhood_group_data.plot(kind='pie',autopct='%1.1f%%', explode = [0.1,0,0,0,0],figsize=(15,10),title="Airbnb In Neighbourhood Group",fontsize=13)
plt.show()

##### 1. Why did you pick the specific chart?

Piechart is a type of graph that represents the distribution of a dataset as slices of a circle, where each slice represents a proportion of the total.

##### 2. What is/are the insight(s) found from the chart?

The pie chart above shows that Airbnb Listings in Newyork are near Manhattan, and Brooklyn has the highest share of hotels.

A)Manhattan has the highest number of listings with 44.3% of the total listings in the dataset.

B)Brooklyn has the second-highest number of listings with 41.1% of the total listings.

C)Queens has the third-highest number of listings with 11.6% of the total listings.

D)The Bronx and Staten Island have the lowest number of listings with less than 2% each.

##### 3. Will the gained insights help creating a positive business impact?

It is found that Brooklyn and Manhattan have the highest share of hotels .so we can see that Brooklyn and Manhattan have higher compitition.

This data can help Airbnb take steps to improve its business growth and profitability.The neighborhoods which have the highest number of listings can provide valuable insights for Airbnb to improve its business strategy and make more profitable.On the other hand, by identifying neighborhoods with lower numbers of listings, Airbnb can explore ways to increase the number of listings in those areas and expand its reach to new markets.

#### Chart - 2
#  **Number of rooms available of different room type over NYC**

In [ ]:
# Chart - 2 visualization code
room_type_data=df['room_type'].value_counts()
print(room_type_data)
room_type_data .plot(kind = 'barh', title = 'Number of Room by Room Type',figsize=(10,5), color = 'blue',fontsize=14)
plt.xlabel('Number Of Rooms',fontsize=14)
plt.ylabel('Room Type',fontsize=14)

In [ ]:
room_type_data.plot(kind='pie',autopct='%1.1f%%', explode = [0.07,0,0],figsize=(10,15),title="Percentage of Room Type",fontsize=13)
plt.show()

##### 1. Why did you pick the specific chart?

Barplot is a categorical plot that displays the count of observations for each category which is useful for displaying the distribution of a categorical variable.

 Piechart is  to show the distribution of the data among smaller number of categories.Here we get idea about the distribution percentage of room type preferred by customers listed in airbnb website.

##### 2. What is/are the insight(s) found from the chart?

The above charts clearly shows that Entirehome/Apartment have the highest share available on AirBnb.Private rooms are being second and shared rooms being the least of the three.

##### 3. Will the gained insights help creating a positive business impact?

It is found that there aren't enough shared room listings.Although the most revenue comes from private room and entire home/Apt only as they are expensive too,Airbnb also needs to increase services for shared room.This can be useful for hosts and businesses to understand the demand for different types of accommodations accordingly to attract more guests and increase their profit.

#### Chart - 3
# **Room/hosting density along latitude and longitude over NYC**

In [ ]:
# Chart - 3 visualization code
plt.figure(figsize=(12,12))
sns.scatterplot(x=df.longitude,y=df.latitude,hue=df.neighbourhood_group)
plt.title("Room Density Plot In Neighbourhood")
plt.xlabel('Longitude',fontsize=14)
plt.ylabel('Latitude',fontsize=14)
plt.show()

##### 1. Why did you pick the specific chart?

Scatter plots are useful to understand the distribution of AirBnb lsitings in the neighbourhood map along with latitute and longitude.

##### 2. What is/are the insight(s) found from the chart?

The density of the listings based on latitude and longitude is explained by scatterplot.Chart is clearly showing which neighbourhood having large number of airbnb lsitings and which is having less.

##### 3. Will the gained insights help creating a positive business impact?

It is found that the Manhattan and near areas have the highest density of listings. This seems to be the most popular areas thus for users.From the business aspects,in less number of listings especially Staten Island Airbnb can increase the number of listings for increasing the business.

#### Chart - 4
# **Average room price of different room type in all neighbourhood over NYC**

In [ ]:
# Chart - 4 visualization code
print(df['price'].describe())
figsize=(20,8)
sns.boxenplot(x='price',data=df)

In [ ]:
neighbourhood_wise_price_data = df.groupby(['neighbourhood_group','room_type'])['price'].mean().unstack()
neighbourhood_wise_price_data

In [ ]:
neighbourhood_wise_price_data.plot(kind='bar',figsize=(10,6))
plt.title('Average Price of different room types in every neighbourhood group')
plt.xlabel('Neighbourhood Groups',fontsize=14)
plt.ylabel('Average Price',fontsize=14)
plt.legend()
plt.show()

##### 1. Why did you pick the specific chart?

From the boxenplot we can find the outliers easily.

The Bar chart shows the average price of hosting according to the neighborhood group for each category of room type. It allows for easy comparison between the different room types and neighborhoods.

##### 2. What is/are the insight(s) found from the chart?

From the boxenplot it have been seen that the outliers which is the highest price of the room is 10000. The average price of the rooms is 152.755045.

From Barplot we found that:

a)Manhattan is the most expensive neighbourhood group whereas Bronx and Staten Island have almost similar costs and are the cheapest.

b)Manhattan is so expensive that getting a private room there is as expensive as getting an entire home/apt in Staten Island and Bronx.

c)The price of getting a private room is almost same for all the neighbourhood groups except Manhattan.

##### 3. Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.

The chart is useful in comparing the average price of different room types across different neighbourhood groups. It can help Airbnb hosts to understand the market and set competitive prices for their listings.

#### Chart - 5
# **Range of room price in different neighbourhood over NYC**

In [ ]:
# Chart - 5 visualization code
plt.style.use('classic')
plt.figure(figsize=(10,5))
plt.title("Price Distribution < 500")
sns.boxplot(y="price",x ='neighbourhood_group' ,data = df[df.price<500])
plt.xlabel('NeighbourHood Groups',fontsize=14)
plt.ylabel('Price',fontsize=14)
plt.show()

In [ ]:
avg_price_df = df.groupby('neighbourhood_group')['price'].mean()
print(avg_price_df)

##### 1. Why did you pick the specific chart?

 Box Plot is created to display the summary of the set of data values having properties like minimum, first quartile, median, third quartile and maximum.So for our analysis on Airbnb we choose boxplot.

##### 2. What is/are the insight(s) found from the chart?

For the box plot, analization is done for a price under 500 dollar. It can be stated that Manhattan has the highest range price for the listings followed by Brooklyn. Queens and Staten Island seem to have a very similar distribution, The Bronx is the cheapest.

##### 3. Will the gained insights help creating a positive business impact?

Airbnb can make informed decisions on pricing strategies, such as adjusting the prices of listings in high-demand areas to maximize revenue, or promoting listings in areas with lower demand to increase occupancy. Additionally,by using this chart we are getting a price range for staying one night in particuler neighbourhood. we can use these prices and provide them to cutromers so he can analysise his stay.

#### Chart - 6
# **Top 10 hosts in Airbnb listing in NYC**

In [ ]:
# Chart - 6 visualization code
#Top 10 hosts by the host_name
Top_host = df['host_name'].value_counts().head(10)
print(Top_host)
Top_host.plot(kind='bar',color='Blue',figsize=(10,8),fontsize=14)
plt.title("Top Hosts By Host_Name")
plt.xlabel('Host Name',fontsize=14)
plt.ylabel('Total_NYC_listings',fontsize=14)
plt.xticks(fontsize=14, color="black")
plt.yticks(fontsize=14, color="black")
plt.show()

From the above chart we can see Michael has the highest hosting on Airbnb.

In [ ]:
#Top 10 hosts by the host_id
top_host_id=df['host_id'].value_counts()[:10]
print(top_host_id)
top_host_id.plot(kind='barh',color='g',figsize=(10,8),fontsize=14)
plt.xlabel('Top_host_id',fontsize=14)
plt.ylabel('Total_NYC_listings',fontsize=14)
plt.title('Top Hosts By The Host_Id')

In [ ]:
#checking the host_name and neighbourhood_group belongs to the host_id
print(df[df['host_id']==219517861]['host_name'].unique())
print(df[df['host_id']==219517861]['neighbourhood_group'].unique())

##### 1. Why did you pick the specific chart?

Here a bar graph is created for the host_id and host_name in the listing to make the comparisons.

##### 2. What is/are the insight(s) found from the chart?

Two diffrent charts have been plotted for getting the result which hosts are having the highest number of apartments.

It can be seen that in the first chart the host name Michael is repeating 417 times in the host_name column, so it implies that Michael has the highest number of rooms.

O the other hand, in the second chart from the host_id column, it is showing the highest appearance of host_id of Sonder is 327.

So,this clearly implies that there can be multiple persons who may have the same name.By host_id is the best way to find out the highest listed host.

##### 3. Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.

 It gives information top hos_id.Here hostname is used only for vizulization purpose becuase host_name gives inaccurate results.

#### Chart - 7
# **Top 5 Neighbourhood in Airbnb according to number of hostings over NYC**

In [ ]:
# Chart - 7 visualization code
top_5_neigbourhood= df['neighbourhood'].value_counts()[:5] 
print(top_5_neigbourhood)
figsize=(15,10)
top_5_neigbourhood.plot(kind='bar',color='r',figsize=(10,8))
plt.xlabel('Neighbourhood',fontsize=14)
plt.ylabel('Number Of Hostings',fontsize=14)
plt.title('Top Neighbourhoods In NYC According To Number Of Listings')

##### 1. Why did you pick the specific chart?

Bar chart is the best visualization that displays the top 5 neighborhoods with the highest number of apartments listed on Airbnb. This will allow me to easily visualize which neighborhoods have the most listings and compare them to others.

##### 2. What is/are the insight(s) found from the chart?

It ca be seen that Airbnb having maximum number of appartments for Williamsburg with 3920 numbers and minimum for Upper West Side with 1971 numbers of appartments.

##### 3. Will the gained insights help creating a positive business impact?

The top 5 neighborhoods in New York City with the most Airbnb listings can help property owners to focus their investments on areas with high demand for short-term rentals. However, if there are too many listings in a neighborhood, it can lead to market competition and falling prices.

#### Chart - 8
# **Number of different room type available in all neighbourhood group over NYC**

In [ ]:
# Chart - 8 visualization code
Listing_data=df.groupby(['neighbourhood_group','room_type']).agg({'room_type':'count'}).rename(columns={'room_type':'Total Listings'}).reset_index()
print(Listing_data)
sns.barplot(data=Listing_data, x='neighbourhood_group', y ='Total Listings', hue='room_type')
figsize=(10,8)
plt.title('Different Room Type In All Neighbourhood',fontsize=14)
plt.xlabel('Neighbourhood Groups',fontsize=14)
plt.ylabel('Total Listings',fontsize=14)
plt.legend()
plt.show()

##### 1. Why did you pick the specific chart?

Barplot is a categorical plot that displays the count of observations for each category which is useful for displaying the distribution of a categorical variable

##### 2. What is/are the insight(s) found from the chart?

Manhattan has the highest number of entire home/apt listings over 13000 listings, while private room listings are most common in Brooklyn. Shared room listings are relatively rare, with only a small number of listings in each neighborhood. The Bronx has a relatively high proportion of shared room listings compared to other neighborhoods.

##### 3. Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.

It can be found that listings in each neigbourhood and by the analysis it can be seen that in which neighbourhood we have less listings and we can increase the lisitngs by using business stratagies.It looks like Manhattan and Brooklyn have more number of listing than Queens, Bronx, and Staten Island.

#### Chart - 9
# **Total number Of reviews based on room type in all neighbourhood over NYC**

In [ ]:
# Chart - 9 visualization code
reviews_data = df.groupby(['neighbourhood_group','room_type'])['number_of_reviews'].sum().unstack()
reviews_data
reviews_data.plot(kind='bar',stacked=False,figsize=(10,8))
plt.title('Number Of Reviews Based On Room Type In All Neighbourhood',fontsize=14)
plt.xlabel('Neighbourhood Groups',fontsize=14)
plt.ylabel('No of Reviews',fontsize=14)
plt.legend()
plt.show()

##### 1. Why did you pick the specific chart?

Barplot is a categorical plot that displays the count of observations for each category which is useful for displaying the distribution of a categorical variable.It shows the total number of reviews in each category and room type.

##### 2. What is/are the insight(s) found from the chart?

From the above visualization it can be seen that Entire home/apt in Brooklynn has the highest number of reviews in compare to the others. Private rooms have more rating in the Queens neighbourhood.

##### 3. Will the gained insights help creating a positive business impact?

From the buisness aspects,The number of reviews on the hosting leads to the impression to the customer for further booking which leads to the increase in the buisness. Also, the hostings can improve their service depending upon the reviews which customers are given.

#### Chart - 10
# **Variation of the Price and Number of reviews**

In [ ]:
# Chart - 10 visualization code
price_reviews=df.groupby(['price'])['number_of_reviews'].max()
print(price_reviews)
price_reviews.plot()
plt.title('Price V/S Number Of Review',fontsize = 14)
plt.ylabel("Number of Reviews",fontsize = 14)
plt.show()

##### 1. Why did you pick the specific chart?

Line Plot is one of the easiest and most basic graphical analysis techniques. Here we have plotted the price vs number of reviews.

##### 2. What is/are the insight(s) found from the chart?

From the above Analysis we can say that most people prefer to stay in place where price is less.

##### 3. Will the gained insights help creating a positive business impact?

From the above analysis It can be stated that the customer is like to  visit in hostings with cheaper price. So the hosts may reduce their price of the hostings which are in hgher level of price to affordable price for the increase in customer acuisiation and make the buisness profitable.

#### Chart - 11
# **Top 10 hostings by maximum reviews per month in Airbnb listing over NYC**

In [ ]:
# Chart - 11 visualization code
max_reviews_month=df.groupby('name')['reviews_per_month'].max()
max_reviews_month=max_reviews_month.reset_index().sort_values(by='reviews_per_month',ascending=False).head(10)
print(max_reviews_month)
max_reviews_month.plot(x='name',y='reviews_per_month',kind='bar',color='b')
plt.ylabel('Total Reviews',fontsize=14)
plt.xlabel('Host Names',fontsize=14)
plt.title('Top 10 Hostings By Maximum Reviews Per Month ',fontsize=14)

In [ ]:
max_reviews=df.groupby('name')['number_of_reviews'].max()
max_reviews=max_reviews.reset_index().sort_values(by='number_of_reviews',ascending=False).head(10)
print(max_reviews)
max_reviews.plot(x='name',y='number_of_reviews',kind='bar',color='g')
plt.ylabel('Total Reviews',fontsize=14)
plt.xlabel('Host Names',fontsize=14)
plt.title('Top 10 Hostings By Maximum Total Reviews ',fontsize=14)

##### 1. Why did you pick the specific chart?

Barplot shows the relationship between a numeric and a categoric variable. Each entity of the categoric variable is represented as a bar. The size of the bar represents its numeric value.

##### 2. What is/are the insight(s) found from the chart?

'Enjoy great views of the City in our Deluxe Room!' holds the title as the most reviewed host with 58.50 reviews per month on average,and on second position is ' Great Room in the heart of Times Square!' with near 28 reviews per month on average.

'Room near JFK Queen Bed' is top hosting according to total reviews with 629 reviews.

##### 3. Will the gained insights help creating a positive business impact?

This information help identify hosts who consistently receive positive feedback from guests, providing a good impression for other hosts to make a booking.  This information can also inform Airbnb's efforts to improve the customer experience, such as developing new services and resources for hosts or offering more training and support. By focusing on what works best for the most successful hosts, Airbnb can improve its overall reputation, attract more business, and ultimately, drive more revenue.

#### Chart - 12
# **Minimum night of stay on different room type in all neighbourhood group over NYC**

In [ ]:
# Chart - 12 visualization code
sns.barplot(data=df, x ='neighbourhood_group',y='minimum_nights', hue='room_type')
figsize=(1,10)
plt.title('Minimum Night Of Stay On Different Room Type In All Neighbourhood Group',fontsize=14)
plt.xlabel('Neighbourhood Group',fontsize=14)
plt.ylabel('No Of Days',fontsize=14)
plt.show()

In [ ]:
plt.figure(figsize=(10,8))
sns.scatterplot(x=df.neighbourhood_group,y=df.minimum_nights,hue=df.room_type)
plt.title("Room Density Plot In Neighbourhood")
plt.xlabel('Neighbourhood_group',fontsize=14)
plt.ylabel('Number of days',fontsize=14)
plt.show()

##### 1. Why did you pick the specific chart?

Barplot is a categorical plot that displays the count of observations for each category which is useful for displaying the distribution of a categorical variable.It shows customer preference of minimum nights of stay.

From the scatterplot we want to find the distribution of the minimum nights stay with respect to the neighbourhood.

##### 2. What is/are the insight(s) found from the chart?

The main outcome which we get that the customer generally like to stay on any type of room onn Airbnb is 1 to 7 days.For long days of stay customers prefers to stay in Manhattan or Brooklyn.

##### 3. Will the gained insights help creating a positive business impact?

From the above visualization it can be clearly to be understood the customers' preference of the minimum nights of stay and which neighboiurhood the generally prefers for the long days of stay.from the business point of view it is very much clear about the customers' needs of staying on the Airbnb hostings.

#### Chart - 13
#**Availability over 365 days for various room types in the neighbourhood groups over NYC**

In [ ]:
# Chart - 13 visualization code
plt.figure(figsize=(15,10))
sns.barplot(data=df, x='neighbourhood_group', y ='availability_365', hue='room_type')
plt.title("Availability over 365 days for various room types in the neighbourhood groups", fontsize=14, color="black")
plt.xticks(fontsize=14, color="black")
plt.yticks(fontsize=14, color="black")
plt.ylabel("No Of days Available In A Year", fontsize=16, color="black")
plt.xlabel("Neighbourhood_group", fontsize=16, color="black")
plt.legend(title="Room types")
plt.show();

##### 1. Why did you pick the specific chart?

Bar plots helps us understand two categorical and a numerical variable together in one of the most simplest way.

##### 2. What is/are the insight(s) found from the chart?

Private rooms and entire home/apt are available for lesser than 100 days on average in Brooklyn and Manhattan. Hence, the places with more listings prefer entire rooms or a private room over shared rooms.

Shared rooms are the busiest of all the room types in Staten Island.

##### 3. Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.

Looking at the insights it is known which room types are available more or less in the different neighbourhood groups.

#### Chart - 14 - Correlation Heatmap
# **Correlation between the variables**

In [ ]:
# Chart - 10 visualization code
#Taking all the variables for the heatmap
#corr = df.corr()
corr = df.corr(method='kendall')
plt.figure(figsize=(10,8))
plt.title("Correlation Between Different Variables\n",fontsize=14)
sns.heatmap(corr, annot=True, cmap="BrBG")
plt.show()

In [ ]:
# Selecting numerical columns to create correlation matrix
num_cols = ['price', 'minimum_nights', 'number_of_reviews', 'reviews_per_month', 'calculated_host_listings_count', 'availability_365']
corr_matrix = df[num_cols].corr(method='kendall')
plt.figure(figsize=(10, 8))
sns.heatmap(corr_matrix, annot=True,cmap='PiYG')
plt.title('Correlation Between Different Variables',fontsize=14)
plt.show()

##### 1. Why did you pick the specific chart?

It shows the corellation chart for AIR BNB Booking Analysis which refers the relationship between the variables.Here two heatmap is being plotted, one for all the variables in the dataset and the other one is with the numerical variabeles only.The heatmap displays the correlation coefficient between each pair of variables with the color coded matrix.

##### 2. What is/are the insight(s) found from the chart?

Using a correlation heatmap in Airbnb data analysis it is clear about the  relationships between various factors that impact the business, such as popular neighbourhood, preffered room,preferable cost that a customer want to bear for the night stay and more thins which can trigger the buisness growth of th Airbnb with some effort and improve the customer experience,optimize pricing, and target advertising and promotions effectively.Correlation ranges from -1 to +1. Values closer to zero means there is no linear trend between the two variables. The close to 1 the correlation is the more positively correlated they are; that is as one increases so does the other and the closer to 1 the stronger this relationship is. In above chart each box is showing the correlation between two variables by the analysis we can see some varaibles or data points are negatively correlated with each other on the other hand we can see some are psotively correlated with each other. we can see reviews_per_month and number of reviews are having a box value of near to 1, so we can assume they are positvely correlated.

#### Chart - 15 - Pair Plot 

# **Relationship between pair_wise variables**

In [ ]:
# Pair Plot visualization code
sns.pairplot(df)
plt.figure(figsize=(10,5))

##### 1. Why did you pick the specific chart?

A Pairplot is a Graphical representation of pairwise relationships in a dataset. It shows the scatter plot of each pair of variables along with the histograms of each variable along the diagonal. This helps in identifying the correlation between variables in the dataset.Pair plots in Pandas are used for exploratory data analysis. They are used to visualize relationships between variables in a dataset by plotting all possible pairs of features in a single matrix of plots.

##### 2. What is/are the insight(s) found from the chart?

From the plotted charts, it can observed that there is no clear linear relationship between price and any of the other variables. However, there seems a slight negative correlation between price and availability in 365 days, which means that as availability increases, the price decreases slightly.This Pair plots provide a convenient way to visualize the distribution of each feature and the relationships between features.From the above grapical representation it can be easily found out the relationship between the two variables for further more analysis.

## **5. Solution to Business Objective**

#### What do you suggest the client to achieve Business Objective ? 
Explain Briefly.

Based on the analysis of the Airbnb it comes to know about the popular neighbourhood,room type where customer prefer the most,top listing among all the Airbnb listings,range of the prices of the listing in different neighbourhood group, ,the average length of stay for different types of rooms by the customers.From these,Airbnb can identify the areas with high demand and adjust the prices accordingly. This can help to maximize revenue and improve the overall performance of the listings.Based on the analysis of guest preferences, the client can design targeted marketing to reach potential guests and increase bookings.

# **Conclusion**

1) Manhattan is having highest AirBnb listings, Brooklyn comes second and Queens comes on third and Bronx and Staten island respectively.


2) Out of 5 different locations in the dataset, Manhattan is the most crowded location with 44.3% of listings.


3) The most common types of rooms are Entire home/Apartments whereas the least common type is the shared room.


4) Average price distribution for airbnb falls under the range of 500 i.e., 150-200. Manhattan has the highest variety of price range.


5) Entire home apartment is expensive in comparison to other room type.

6) Manhattan has the highest number of entire home/apt listings over 13000 listings, while private room listings are most common in Brooklyn. Shared room listings are relatively rare, with only a small number of listings in each neighborhood. The Bronx has a relatively high proportion of shared room listings compared to other neighborhoods.

7) Sounder (NYC) is the most popular host with the highest number of airbnb listings.

8) Williamsburg, Bedford-Stuyvesant, Harlem, Bushwick, and the Upper West Side are the top 5 neighborhoods in terms of listing counts, indicating strong demand for Airbnb rentals in these areas.

9) 'Enjoy great views of the City in our Deluxe Room!' holds the title as the most reviewed host with 58.50 reviews per month on average,and on second position is ' Great Room in the heart of Times Square!' with near 28 reviews per month on average.

10)'Room near JFK Queen Bed' is top hosting according to total reviews with 629 reviews.


11) Customers prefer entire home apartment in comparison to other type of rooms,private rooms comes on second and shared rooms on third.


12) Customer generally prefer to stay between 1 to 7 days.

13) Manhattan and near areas have the highest density of listings. This seems to be the most popular areas thus for users. And Staten Island is the less dense of listed hosting.

14) Entire home/apt in Brooklynn has the highest number of reviews in compare to the others. Private rooms have more rating in the Queens neighbourhood.

15) There is no linear relationship between price and any of the other variables.

###                                                  **!!!THANK YOU !!!**